{% load static %}
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index | blog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>BLOGKU</h1>
    <ul>
        <h1>SELAMAT DATANG DI BLOG</h1>
        <h2>ini tugas blog</h2>
        <h3>ini tugas ksi</h3>
        <img src="{% static 'blog/img/img3.jpeg'%}" alt="">
        <li><a href="/" title="">home</a></li>
        <li><a href="/blog/" title="">blog</a></li>
        <li><a href="https://www.djangoproject.com/">Nokomen</a></li>

    </ul>
</body>
</html>