{% load static %}
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index | home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <img src="{% static 'img/img1.jpeg'%}" alt="">
    <h1>judul home</h1>
    <h2>Fauziah Henni</h2>
    <h3>Yuhuuu</h3>
    <ul>
        <li><a href="/" title="">home</a></li>
        <li><a href="/blog/" title="">blog</a></li>
        <li><a href="https://www.djangoproject.com/">Nokomen</a></li>

    </ul>
</body>
</html>